/*=== MEDIA QUERY ===*/

/* IJO TUA : #763b3e; */
/* IJO MUDA : #e6b6b8 */

@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700|Montserrat|Poppins:400,500,600,700|Great+Vibes");
body {
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

/* scrollbar */
body::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
	background-color: #F5F5F5;
}
#cd-timeline div::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar,
#cd-timeline div::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb,
#cd-timeline div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: #e6b6b8;
}
body, #cd-timeline div {
  scrollbar-color: #e6b6b8 white !important;
  scrollbar-width: thin !important;
}

#information {
  background-image:url("../img/14.jpg");
  background-size:cover; 
  background-attachment: fixed;
  background-repeat: no-repeat; 
  padding: 50px 0 40px 0; 
  background-position: 0 -600px;
}
.info-title {
  font-size: 40px;
}
#custom_countdown {
  color: #763b3e;
  display: inline-flex;
  padding: 40px;
}
.countdown_section {
  margin: 15px;
}
.countdown_amount {
  /* background-color: #763b3e; */
  background: linear-gradient(180deg, #763b3e 30%, #743e41 60%, #5f3133 100%);
  color: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: block;
  padding-top: 10px;
  font-size: 30px;
  margin: 0 auto 10px;
}
.countdown_period {
  color: white;
}
#the_day {
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
}

.custom-font {
  font-family: "Great Vibes", cursive !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 500;
}
.text-shadow-1 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
.custom-font span.text-color {
  line-height: 1.2 !important;
}

.custom-font-2 {
  font-family: "Montserrat", sans-serif !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 100;
}

.photo-grid-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.photo-grid-col {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.photo-grid-col img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 7px;
}

#wish-form {
  padding: 30px 0px;
}
#wish-form textarea {
  margin: 20px 0px;
  width: 80%;
  padding: 10px;
  border: 1px solid #763b3e;
  height: 150px;
  border-radius: 7px;

}
button {
  border: none;
  /* background: linear-gradient(90deg, transparent 0%, #763b3e 7%, #763b3e 93%, transparent 100%); */
  color: #fff;
  padding: 2px 20px 0px;
  font-family: "Great Vibes", sans-serif !important;
  font-size: 24px;
  border-radius: 7px;
  margin-right: 10px;
  text-decoration: none;
}
.btn-confirm {
  background:#763b3e;
}
.btn-cancel {
  background:#ffe9ea;
  color: #763b3e;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .photo-grid-col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .photo-grid-col {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Barlow Condensed", sans-serif;
  /* font-weight: 700; */
  /* color: #232323; */
  font-weight: 550;
  color: #763b3e;
  letter-spacing: .5px;
}

h1, .h1 {
  font-size: 48px;
  text-transform: uppercase;
}

h2, .h2 {
  font-family: "Great Vibes", sans-serif !important;
  font-size: 45px;
  /*text-transform: uppercase;*/
}

h3, .h3 {
  font-size: 28px;
  line-height: 38px;
  text-transform: uppercase;
}

h4, .h4 {
  font-size: 22px;
  line-height: 30px;
}

h5, .h5 {
  font-size: 18px;
  line-height: 24px;
}

h6, .h6 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.font-primary {
  font-family: "Barlow Condensed", sans-serif;
}

.font-secondary {
  font-family: "Montserrat", sans-serif;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.navbar-toggle .icon-bar {
  background: #763b3e;
}

input[type="email"], input[type="password"], input[type="text"], input[type="tel"] {
  box-shadow: none;
  height: 50px;
  outline: none;
  font-size: 14px;
}

input[type="email"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="tel"]:focus {
  box-shadow: none;
  border: 1px solid #763b3e;
}

.form-control {
  box-shadow: none;
  border-radius: 0;
}

.form-control:focus {
  box-shadow: none;
  border: 1px solid #763b3e;
}

.btn {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 18px 35px;
  text-transform: uppercase;
  border-radius: 0;
  font-weight: 700;
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.btn-main, .btn-transparent, .btn-small {
  background: linear-gradient(90deg, #763b3e 0%, #90bd82 100%);
  color: #fff;
}

.btn-main:hover, .btn-transparent:hover, .btn-small:hover {
  background: linear-gradient(90deg, #90bd82 0%, #763b3e 100%);
  color: #fff !important;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.btn-solid-border {
  border: 2px solid #763b3e;
  background: transparent;
  color: #fff;
}

.btn-solid-border:hover {
  border: 2px solid #763b3e;
  background: #763b3e;
}

.btn-white {
  border: 2px solid #fff;
  background: #fff;
  color: #232323;
}

.btn-white:hover {
  border: 1px solid #763b3e;
  background: #763b3e;
  color: #fff !important;
}

.btn-transparent {
  background: transparent;
  padding: 0;
  color: #763b3e;
}

.btn-transparent:hover {
  background: transparent;
  color: #763b3e;
}

.btn-large {
  padding: 20px 45px;
}

.btn-large.btn-icon i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-small {
  padding: 10px 25px;
  font-size: 12px;
}

.btn-round {
  border-radius: 4px;
}

.btn-round-full {
  border-radius: 50px;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

.bg-shadow {
  background-color: #fff;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08);
  padding: 20px;
}

.bg-gray {
  background: #f0f2f4;
}

.bg-primary {
  background: #763b3e !important;
}

.section {
  /*padding: 100px 0;*/
  padding: 50px 0 40px 0;
}

.section-title {
  margin-bottom: 50px;
}

.section-title .title {
  font-size: 50px;
  line-height: 50px;
}

.section-title p {
  color: #666;
  font-family: "Montserrat", sans-serif;
}

.page-title {
  padding: 155px 0 100px;
}

.overly, .bg-4 {
  position: relative;
}

.overly:before, .bg-4:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #232323;
  opacity: 0.8;
}

.overly-2, .page-title, .slider, .cta, .textimonial, .info {
  position: relative;
}

.overly-2:before, .page-title:before, .slider:before, .cta:before, .textimonial:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
}

.info:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

#success, #error {
  display: none;
}

.text-color {
  color: #763b3e;
}

.text-black {
  color: #232323;
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 26px;
  line-height: 36px;
}

.text-lg {
  font-size: 56px;
  line-height: 66px;
}

.no-spacing {
  letter-spacing: 0px;
}

a {
  transition: all .35s ease;
}

a:hover, a:focus {
  color: #763b3e !important;
  text-decoration: none !important;
  outline: 0;
}

.font-size-13 {
  font-size: 13px;
}

.letter-spacing {
  letter-spacing: 1px;
}

.bg-black-50 {
  background: #181a23;
}

.navbar-nav li {
  padding: 0px 10px;
}

.navbar-nav .nav-link {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  transition: all .25s ease;
  font-weight: bold;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
  color: #e6b6b8 !important;
  font-size: 14px;
  font-weight: bold;
}

.top-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 14px;
}

.top-header ul li {
  padding: 0px 25px;
  border-left: 1px solid #dedede;
}

.dropdown {
  height: 100%;
}

.dropdown-menu {
  background: #1c1c1c;
  border-radius: 0px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  padding: 24px 0 26px;
  min-width: 280px;
  left: 0px;
  top: 100%;
  -webkit-transform: translateY(10%);
  transform: translateY(10%);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all .3s ease 0s;
  display: block;
}

.dropdown-item {
  color: #c8c8c8;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  padding: .55rem 2rem;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
  z-index: 20;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.dropdown-item:hover {
  background: transparent;
  color: #763b3e;
}

ul.dropdown-menu li {
  padding-left: 0px !important;
}

.fixed-nav {
  /*background: #181a23;*/
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,.2);
  background: #ffffff;
  transition: all 800ms ease;
}
.fixed-nav a {
  color: #763b3e !important;
}
.fixed-nav .navbar-brand img {
  content:url('../img/VI.png');
}

.navbar-toggler {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0px;
  padding: 5px 10px;
}

.navbar-collapse.collapse.show {
  background: #181a23;
}

.slider {
  background: url("../images/bg/bg-7.jpg") no-repeat 0% 30%;
  background-size: cover;
  padding: 180px 0px;
}

.slider h1 {
  font-size: 95px;
  line-height: 95px;
}

.slider span.subhead {
  color: #fff;
  letter-spacing: 5px;
  border: 2px solid #fff;
  padding: 3px 15px 5px 15px;
  opacity: .8;
}

.bg-1 {
  background: url("../images/bg/main-bg.png") no-repeat;
  background-size: contain;
}

.bg-2 {
  background: url("../images/bg/bg-image-2-1.jpg") no-repeat;
  background-size: cover;
}

.bg-3 {
  background: url("../images/bg/bg-cta.jpg") no-repeat;
  background-size: cover;
}

.bg-4 {
  background: url("../images/about/img-7.jpg") no-repeat;
  background-size: cover;
}

.mt-80px {
  margin-top: -80px;
}

.number {
  opacity: 0.1;
  font-size: 130px;
  display: block;
  line-height: 120px;
  position: absolute;
  top: 10px;
}

.why .card {
  transition: all .4s ease 0s;
}

.why .card:hover {
  background: #181a23;
}

.why .card:hover h3,
.why .card:hover p {
  color: #fff;
}

.hover-style-1 {
  position: relative;
  border-radius: 5px;
}

.hover-style-1:before {
  position: absolute;
  border-radius: 5px;
  content: '';
  left: 0px;
  top: 0px;
  width: 100%;
  height: 0px;
  transition: all 600ms ease;
  background: linear-gradient(180deg, #763b3e 30%, #308f6c 60%, #38a77e 100%);
  border-color: #763b3e;
}

.hover-style-1 h3, .hover-style-1 p, .hover-style-1 a, .hover-style-1 i, .hover-style-1 h4 {
  position: relative;
  transition: all 600ms ease;
}

.hover-style-1:hover:before {
  height: 100%;
}

.hover-style-1:hover a {
  color: rgba(255, 255, 255, 0.8) !important;
}

.hover-style-1:hover h3,
.hover-style-1:hover h4,
.hover-style-1:hover p,
.hover-style-1:hover a {
  color: #fff;
}

.hover-style-1:hover i {
  color: rgba(255, 255, 255, 0.8) !important;
}

/*hover 2*/
.hover-style-2 {
  position: relative;
  border-radius: 50%;
}

.hover-style-2:before {
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  width: 0;
  height: 0px;
  transition: all 400ms;
  background: linear-gradient(90deg, #763b3e 0%, #40bf91 100%);
  border-color: #763b3e;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hover-style-2 h3, .hover-style-2 p, .hover-style-2 a, .hover-style-2 i, .hover-style-2 h4 {
  position: relative;
  transition: all 400ms;
}

.hover-style-2:hover:before {
  height: 100%;
  width: 100%;
}

.hover-style-2:hover a {
  color: rgba(255, 255, 255, 0.8) !important;
}

.hover-style-2:hover h3,
.hover-style-2:hover h4,
.hover-style-2:hover p,
.hover-style-2:hover a {
  color: #fff;
}

.hover-style-2:hover i {
  color: rgba(255, 255, 255, 0.8) !important;
}

.mt--45 {
  margin-top: -45px;
}

.course .card-body a h4:hover {
  color: #763b3e;
}

.course-widget li a {
  color: #232323;
  opacity: .9;
}

.team-content-overlay li a {
  color: #fff;
}

.team-content-overlay li a:hover {
  background: #763b3e;
}

.team-item .card-body {
  margin-top: -120px;
}

.team-content-overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
  width: 100%;
  background-color: rgba(41, 40, 45, 0.85);
  transition: opacity .3s ease-out;
}

.overlay-content {
  width: 100%;
  position: absolute;
  left: 0;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.team-item:hover .team-content-overlay {
  opacity: 1;
}

.team-item:hover .card-body {
  opacity: 0;
}

.team-wrap .card-subtitle {
  position: relative;
}

.team-wrap .card-subtitle:after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  max-width: 26px;
  border-top: 4px solid #ddd;
  margin-top: 20px;
}

.team-wrap ul li a {
  width: 40px;
  height: 40px;
  border: 1px solid #dedede;
  color: #232323;
  display: inline-block;
  text-align: center;
  padding-top: 6px;
}

.team-wrap ul li a:hover {
  background: #763b3e;
  border-color: #763b3e;
  color: #fff !important;
}

.divider {
  margin: 0 auto;
  background: #763b3e;
  width: 45px;
  height: 4px;
}
.logo-1 {
  content: url("../img/VI.png");
  width: 70px;
  margin: 0 auto;
}
.logo-2 {
  content: url("../img/VI_white.png");
  width: 70px;
  margin: 0 auto;
}

.cta {
  background: url("../images/bg/slide2.jpg") fixed 50% 50% no-repeat;
  background-size: cover;
}

.w-40 {
  width: 40%;
}

.testimonial-slider .slick-dots li {
  color: #fff;
}

.slick-dots li.slick-active button::before {
  color: #763b3e;
}

.slick-dots li button::before {
  color: #fff;
  font-size: 10px;
}

.slick-slide:focus, .slick-slide a {
  outline: none;
}

.lh-35 {
  line-height: 35px;
}

.pricing .card-body ul li {
  font-size: 15px;
}

.pricing h3 {
  padding-left: 20px;
}

.pricing h3 sup {
  top: 20px;
  left: 0px;
}

.pricing h3 sub {
  font-size: 13px;
}

.pricing .btn-solid-border:hover {
  color: #fff !important;
}

.google-map #map {
  width: 100%;
  height: 450px;
}

.mt--170 {
  margin-top: -170px;
}

.blog .card a h4 {
  font-weight: 700;
}

.blog .card a h4:hover {
  color: #763b3e;
}

.blog-post-meta span {
  font-size: 13px;
}

.lh-25 {
  line-height: 23px;
}

.search i {
  position: absolute;
  right: 15px;
  top: 15px;
}

.tags a {
  display: inline-block;
  color: #232323;
  border: 1px solid #dedede;
  padding: 3px 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 14px;
}

.follow a {
  width: 35px;
  height: 35px;
  background: #fff;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

.pagination {
  border: 0px;
}

.pagination li a {
  color: #232323;
}

.pagination .page-item.active .page-link {
  background-color: #763b3e;
  border-color: #763b3e;
  color: #fff !important;
}

.pagination .page-item:last-child .page-link {
  border-radius: 0px;
}

.pagination .page-item:first-child .page-link {
  border-radius: 0px;
}

.pagination .page-link {
  background: transparent;
  padding: 15px 20px;
}

.font-size-12 {
  font-size: 12px;
}

.post-tags a {
  display: inline-block;
  background: #fff;
  padding: 5px 10px;
}

.social-share a {
  color: #232323;
  padding: 0px 10px;
}

.reply-btn {
  font-size: 12px;
  padding: 6px 17px;
  font-weight: 400;
  border: 2px solid #eee;
}

.footer {
  padding-top: 90px;
  padding-bottom: 90px;
  /* background: #e6b6b8; */
  background: #ffe9ea;
}

.footer p {
  color: #fff;
  opacity: .8;
  font-size: 14px;
}

.bg-black {
  background: #111;
}

.footer-menu li a {
  color: #fff;
  opacity: .8;
  font-size: 14px;
}

.footer-menu li a:hover {
  color: #763b3e;
  opacity: 1;
}

.lh-40 {
  line-height: 40px;
}

.footer-socials li a {
  color: #fff;
  opacity: .8;
}

.recent-blog a {
  line-height: 1.5;
  font-size: 14px;
}

.footer-socials li a {
  color: #595b65;
  font-size: 18px;
  padding-left: 10px;
}

/* CSS TIMELINE */

.cd-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  /*background: #2B343A;*/
  background: rgba(255, 255, 255, 0.5);
  padding: 0 10%;
  border-radius: 2px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 25px;
}
#cd-timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25px;
  height: 100%;
  width: 2px;
  /* background: #763b3e; */
  background: #e6b6b8;
  /* background: #ccc; */
}
#gallery {
  background: #763b3e;
  padding: 5px 0px 10px 0px;
}

@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-overflow {
  /* height: 380px;  */
  overflow: auto;
}
.cd-timeline-block {
position: relative;
margin: 2em 0;
}
.cd-timeline-block:after {
content: "";
display: table;
clear: both;
}
.cd-timeline-block:first-child {
margin-top: 0;
}
.cd-timeline-block:last-child {
margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
.cd-timeline-block {
  margin: 4em 0;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
}

.cd-timeline-img {
position: absolute;
top: 8px;
left: 12px;
width: 30px;
height: 30px;
border-radius: 50%;
/* box-shadow: 0 0 0 4px #763b3e, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); */
}
.cd-timeline-img {
  /* background: #763b3e; */
  background: #e6b6b8;
}
@media only screen and (min-width: 1170px) {
.cd-timeline-img {
  width: 30px;
  height: 30px;
  left: 50%;
  margin-left: -15px;
  /* margin-left: -7px; */
  margin-top: 15px;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
}

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  margin-right: 30px;
  /* background: #333C42; */
  background: transparent;
  border-radius: 2px;
  padding: 1em;
  height: 300px;
  text-align: justify;
}

.timeline-content-info {
  background: #2B343A;
  padding: 5px 10px;
  color: rgba(255,255,255,0.7);
  font-size: 12px;
  box-shadow:  inset 0 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}
i {
  margin-right: 5px;
}
.timeline-content-info-title, .timeline-content-info-date {  
  width: calc(50% - 2px);
  display: inline-block;
}

@media (max-width: 500px) {
  .timeline-content-info-title, .timeline-content-info-date {  
      display: block;
      width:100%;
  } 
}

.content-skills {
  font-size: 12px;
  padding:0;
  margin-bottom: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
#cd-timeline li {
  background: #40484D;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
  color: rgba(255,255,255,0.7);
  margin: 3px 2px;
  text-align: center;
  flex-grow: 1;
}
/* .cd-timeline-content:after {
content: "";
display: table;
clear: both;
} */
.cd-timeline-content h2 {
  /* color: rgba(255,255,255,.9); */
  /* color: #000; */
  /* color: #e6b6b8; */
  color: #763b3e;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 26px !important;
  background: linear-gradient(90deg, transparent 0%, #e6b6b8 10%, #e6b6b8 90%, transparent 100%);
  width: max-content;
  padding-top: 5px;
  font-weight: lighter;
}
.cd-timeline-content p, .cd-timeline-content .cd-date {
/* color: rgba(255,255,255,.7); */
color: #000;
font-size: 14px;
font-size: 0.8125rem;
}
.cd-timeline-content .cd-date {
display: inline-block;
border-radius: 5px;
}
.cd-date img {
  width: 100%;
  border-radius: 5px;
}
.cd-timeline-content p {
margin: 1em 0;
line-height: 1.6;
font-size: 14px !important;
}
/*.cd-timeline-content img {
margin-top: 50%;
top: -33% !important;
}*/

/* .cd-timeline-content::before {
content: '';
position: absolute;
top: 16px;
right: 100%;
height: 0;
width: 0;
border: 7px solid transparent;
border-right: 7px solid #333C42;
} */

@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    color: white;
    margin-left: 0;
    padding: 1.6em;
    /* width: 36%; */
    width: 40%;
    margin: 0 5%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: #333C42;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 90%;
    /* left: 145%; */
    left: 128%;
    top: 18px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: #333C42;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    /* right: 145%; */
    right: 128%;
    text-align: right;
  }
}


/*=== MEDIA QUERY ===*/
@media (max-width: 400px) {
  .dropdown-menu {
    display: none;
    width: 100%;
    text-align: center;
  }
  .navbar-nav li {
    padding: 0px;
  }
  /* #information {
    background-position: center !important;
  } */
  .info-title {
    font-size: 26px;
  }
}

/* PHONE */
@media (max-width: 480px) {
  .slider h1 {
    /* font-size: 40px; */
    font-size: 55px;
    line-height: 48px;
  }
  .slider h1.sub-title span {
    /* font-size: 40px; */
    font-size: 16px !important;
    line-height: 48px;
  }
  .text-lg {
    font-size: 28px;
    line-height: 38px;
  }
  .lead {
    font-size: 1rem;
  }
  .media {
    display: block;
  }
  .media-body {
    margin-top: 20px;
  }
  .number {
    font-size: 50px;
    line-height: 65px;
  }
  .dropdown-menu {
    display: none;
    text-align: center;
  }
  .navbar-nav li {
    padding: 0px;
  }
  .section-title h2 {
    font-size: 32px;
  }
  .logo-1, .logo-2 {
    width: 60px;
  }
  #information {
    background-position: center !important;
  }
  .info-title {
    font-size: 32px;
  }
  .cd-timeline-content {
    height: max-content !important;
    padding: 10px !important;
  }
  .cd-timeline-content h2 {
    font-size: 20px !important;
  }
  .cd-timeline-content p {
    font-size: 12px !important;
  }
  .cd-timeline-content .cd-date {
    display: block !important;
  }
  .cd-timeline-overflow {
    /* height: 450px;  */
  }
  /* .keep-50 {
    width: 50% !important;
    font-size: smaller;
    padding: inherit;
  } */
  .section-title {
    margin-bottom: 30px;
  }
}

/* TABLET */
@media (max-width: 768px) {
  .media {
    display: block;
  }
  .media-body {
    margin-top: 20px;
  }
  .services .media img {
    width: 100% !important;
  }
  .dropdown-menu {
    display: none;
    text-align: center;
  }
  .navbar-nav li {
    padding: 0px;
  }
  .section {
    padding: 30px 0 30px 0;
  }
  #story {
    padding-top: 0;
  }
  #information {
    background-position: center !important;
  }
  .info-title {
    font-size: 32px;
  }
  #cd-timeline {
    padding: 1em 0;
  }
  .cd-timeline-content {
    height: max-content !important;
    padding: 10px !important;
  }
  .cd-timeline-overflow {
    /* height: 600px;  */
  }
  /* .keep-50 {
    width: 50% !important;
    padding: inherit;
  } */
  #custom_countdown {
    padding: 0 !important;
  }
  .countdown_section .countdown_amount {
    width: 50px;
    height: 50px;
    font-size: 20px;
    padding-top: 7px;
  }
  .countdown_section .countdown_period {
    font-size: 12px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
