<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"/>
<meta name="author" content="mengundang.co">
<meta name="description" content="Wedding invitation of Virna Puspita & Muhammad Ikhsan Ramadhan, will held at Sunday, 2nd August 2020 at Graha Kusumawaty" />
<meta property="og:title" content="Wedding invitation of Virna Puspita & Muhammad Ikhsan Ramadhan" />
<meta property="og:type" content="article" />
<meta property="og:url" content="index.html" />
<meta property="og:description" content="Will held at Sunday, 2nd August 2020 at Graha Kusumawaty" /> 
<meta property="og:site_name" content="Wedding invitation of Virna Puspita & Muhammad Ikhsan Ramadhan" />
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="Will held at Sunday, 2nd August 2020 at Graha Kusumawaty" />

<link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" />	
<title>Virna & Ikhsan Wedding Invitation</title>
<!-- bootstrap.min css -->
<link rel="stylesheet" href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}">
<!-- Icofont Css -->
<link rel="stylesheet" href="{{ asset('plugins/icofont/icofont.min.css') }}">
<!-- Themify Css -->
<link rel="stylesheet" href="{{ asset('plugins/themify/css/themify-icons.css') }}">
<!-- animate.css -->
<link rel="stylesheet" href="{{ asset('plugins/animate-css/animate.css') }}">
<!-- Magnify Popup -->
<link rel="stylesheet" href="{{ asset('plugins/magnific-popup/dist/magnific-popup.css') }}">
<!-- Owl Carousel CSS -->
<link rel="stylesheet" href="{{ asset('plugins/slick-carousel/slick/slick.css') }}">
<link rel="stylesheet" href="{{ asset('plugins/slick-carousel/slick/slick-theme.css') }}">
<!-- Main Stylesheet -->
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
  
<style>
	html {
  		scroll-behavior: smooth;
	}
	body {
	}
	h3, .h3 {
		font-size: 28px;
		line-height: 38px;
		text-transform: capitalize;
	}
	#navbarsid {
		margin-left: -100px;
	}
</style>

</head>
<?php 

?>
<body>

<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
	<div class="container-fluid">
	  	<a class="navbar-brand">
            <img src="{{ asset('img/VI_white.png') }}" width="100">
        </a>
		<div class="collapse text-center navbar-collapse" id="navbarsid">
			<ul class="navbar-nav mx-auto">
			  	<li class="nav-item"><a class="nav-link" href="#wedding">WEDDING</a></li>
				<li class="nav-item "><a class="nav-link" href="#bride-groom">BRIDE & GROOM</a></li>
				<li class="nav-item"><a class="nav-link" href="#story">STORY</a></li>
			   	<li class="nav-item"><a class="nav-link" href="#information">INFORMATION</a></li>
			   	<li class="nav-item "><a class="nav-link" href="#attendance">ATTENDANCE</a></li>
			   	<li class="nav-item"><a class="nav-link" href="#gallery">GALLERY</a></li>
			</ul>
	  	</div>
	</div>
</nav>

<div class="main-wrapper ">
<section id="wedding" class="slider" style="color:#fff; background-size:cover; background-image:url('{{ asset('img/142.jpg') }}'); background-position: center; padding: 280px 20px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<center>
				<h1 class="text-white custom-font text-shadow-1" style="line-height: 60px;">
					<span>Virna & Ikhsan</span><br>
				</h1>
				<h1 class="text-white mb-2 custom-font-2 text-shadow-1 sub-title">
					<span style="font-size: 25px; border-top: 1px solid #fff; border-bottom: 1px solid #fff; padding: 10px 20px;">
						ARE GETTING MARRIED
					</span>
				</h1>
				</center>
			</div>
		</div>
	</div>
</section>

<section id="bride-groom" class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-title">
					<div class="mb-3 logo-1"></div>
         			<h2>The Happy Couple</h2>
       			</div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 40px;">
	        <div class="col-lg-6">
	   			<div class="card border-0 bg-transparent rounded-0" style="color:#fff; background-size:cover; background-image:url(' {{ asset('img/virna.jpg') }}'); background-position: center; height: 500px;">
	     			<div class="row no-gutters align-items-center">
	     				<div class="card-body team-wrap pl-4">
	           				<p class="card-title text-color text-white" style="font-size: 22px;font-weight: 700;">Virna Puspita</p>
	           				<h6 class="card-subtitle pb-4 letter-spacing text-white">Putri dari Bapak Asep Sunandar<br>&amp; Ibu Tenny Sutradaryanti</h6>
	           				<ul class="list-inline "></ul>
	     				</div>
	     			</div>
	   			</div>
	 		</div>

	     	<div class="col-lg-6">
	   			<div class="card border-0 bg-transparent rounded-0" style="color:#fff; background-size:cover; background-image:url(' {{ asset('img/ikhsan.jpg') }}');background-position: center; height: 500px;">
	     			<div class="row no-gutters align-items-center">
	     				<div class="card-body team-wrap pl-4">
	           				<p class="card-title text-color text-white" style="font-size: 22px;font-weight: 700;">Muhammad Ikhsan Ramadhan</p>
	           				<h6 class="card-subtitle pb-4 letter-spacing text-white">Putra dari Bapak Heri Budiana<br>&amp; Ibu Dewi Wahyuni</h6>
	           				<ul class="list-inline "></ul>
	     				</div>
	     			</div>
	   			</div>
	 		</div>
	 	</div>
    </div>
</section>
<!-- Section Team End -->

<!-- Section About start -->
<section id="story" class="section about" style="background: #ffe9ea;">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-12">
				<div class="pl-3 mt-5 mt-lg-0">
					<div class="section-title">
						 <div class="mb-3 logo-1"></div>
			         	<center><h2>What We've been Through</h2></center>
					</div>
					<section id="cd-timeline" class="cd-container">	
						<div class="cd-timeline-overflow">
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-picture">
								</div> 
								<div class="cd-timeline-content">
									<h2>When We Met</h2>
									<p>Sep 2013</p>
									<p>Virna and Ikhsan first met in a same class at University. They sometime have a chat on social media, met on university library working on lecturer task, or just had a chit chat, etc. As the time goes by, Ikhsan realized that he likes Virna’s smile, cheeks and jovial nature, while Virna likes the quiet and calm nature of Ikhsan, and they also have similarities in music, food and hobbies.</p>
									<p class="cd-date"><img src="{{ asset('img/type8.jpg') }}"></p>
								</div> 
							</div> 
						
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-picture">
								</div> 
						
								<div class="cd-timeline-content">
									<h2>Our First Date</h2>
									<p>24 June 2014</p>
									<p>As they get comfortable to each other, Ikhsan ask Virna to go on a date, Ikhsan express his feeling. Virna surprised, can’t say a word, but not long after that she nodded her head as a ‘YES!’.</p>
                                    <p class="cd-date"><img src="{{ asset('img/type5.jpg') }}"></p>
								</div> 
							</div> 
						
							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-location">
								</div> 
						
								<div class="cd-timeline-content">
									<h2>The Break</h2>
									<p>2018</p>
									<p>After four years together, in the middle of 2018 they decided to have a break on their relationship and try to live each other’s lives.</p>
                                    <p class="cd-date"><img src="{{ asset('img/type12.jpg') }}"></p>
								</div> 
							</div> 

							<div class="cd-timeline-block">
								<div class="cd-timeline-img cd-location">
								</div> 
						
								<div class="cd-timeline-content">
									<h2>Khitbah</h2>
									<p>15 Feb 2020</p>
									<p>Ikhsan ask Virna to meet to each other after one and a half break. Feelings of nervousness, awkwardness did not prevent Ikhsan from asking Virna about his desire to get back together, but in marriage.  And to prove his seriousness, Ikhsan also met and conveyed his good intentions to Virna's parents on February 15, 2020.</p>
                                    <p class="cd-date"><img src="{{ asset('img/type11.jpg') }}"></p>
								</div> 
							</div> 
						</div>				
					</section>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section About End -->

<section id="information" class="section info">
	<div class="container">
		<div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-title">
					<div class="mb-3 logo-2"></div>
         			<h2 style="color: #fff;" class="text-shadow-1">Insha Allah We'll be Married</h2>
       			</div>
            </div>
        </div>
		<div class="row ">
			<!-- TYPE 2 -->
			<div class="col-lg-3 col-md-6 text-shadow-1 keep-50">
				<a href="https://goo.gl/maps/2SX23PfstqgPDemP9" target="_blank" style="color: inherit;">
				<div class="p-5 border-0 position-relative text-white" style="height: 120px; text-align: center; padding: 1em 0 !important;">
					<h4 class="info-title custom-font text-white">Venue</h4>
          			<p class="mb-4">GRAHA KUSUMAWATY</p>
				</div>
				</a>
			</div>
			<div class="col-lg-3 col-md-6 text-shadow-1 keep-50">
				<div class="p-5 border-0 position-relative text-white" style="height: 120px; text-align: center; padding: 1em 0 !important;">
					<h4 class="info-title custom-font text-white">Date</h4>
					<p class="mb-4">SUNDAY, 02 AUGUST 2020</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-shadow-1 keep-50">
				<div class="p-5 border-0 position-relative text-white" style="height: 120px; text-align: center; padding: 1em 0 !important;">
					<h4 class="info-title custom-font text-white">Akad</h4>
					<p class="mb-4">08:00 WIB</p>
				</div>
			</div>
      		<div class="col-lg-3 col-md-6 text-shadow-1 keep-50">
				<div class="p-5 border-0 position-relative text-white" style="height: 120px; text-align: center; padding: 1em 0 !important;">
					<h4 class="info-title custom-font text-white">Reception</h4>
					<p class="mb-4">09:00 - 12:00 WIB</p>
				</div>
			</div>
			<div class="text-center col-lg-12 col-md-12 col-sm-12">
				<div id="custom_countdown"></div>
			</div>
		</div>
	</div>
</section>

<!-- contact form start -->
<section id="attendance" class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="section-title">
					<div class="mb-3 logo-1"></div>
         			<h2>Will You Be Coming ?</h2>
				</div>
				<div>
					<button class="btn-confirm">Yes, I Will!</button>
					<button class="btn-cancel">No, Sorry</button>
				</div>
				<div id="wish-form">
					<form>
						<h2>Send Us Your Best Wish</h2>
						<textarea name="_wish"></textarea><br>
						<button type="submit" class="btn-confirm">Submit</button>
					</form>
				</div>
            </div>
        </div>
    </div>
</section>

<!-- Section Gallery Start -->
<section id="gallery" class="gallery">

	<div class="photo-grid-row portfolio-gallery"> 
	  <div class="photo-grid-col">
        <a href="{{ asset('img/type1.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type1.jpg') }}" style="width:100%" class="img-fluid">
		</a>
		<a href="{{ asset('img/type2.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type2.jpg') }}" style="width:100%">
		</a>
	  </div>
	  <div class="photo-grid-col">
		<a href="{{ asset('img/type3.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type3.jpg') }}" style="width:100%">
		</a>
		<a href="{{ asset('img/type4.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type4.jpg') }}" style="width:100%">
		</a>
		<a href="{{ asset('img/type13.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type13.jpg') }}" style="width:100%">
		</a>
	  </div>  
	  <div class="photo-grid-col">
		<a href="{{ asset('img/type6.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type6.jpg') }}" style="width:100%">
		</a>
		<a href="{{ asset('img/type7.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type7.jpg') }}" style="width:100%">
		</a>
	  </div>
	  <div class="photo-grid-col">
		<a href="{{ asset('img/type8.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type8.jpg') }}" style="width:100%">
		</a>
		<a href="{{ asset('img/type9.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type9.jpg') }}" style="width:100%">
		</a>
		<a href="{{ asset('img/type10.jpg') }}" class="popup-gallery">
			<img src="{{ asset('img/type10.jpg') }}" style="width:100%">
		</a>
	  </div>  
	</div>

</section>
<!-- Section Gallery END -->

<!-- Section Footer Start -->
<!-- footer Start -->
<footer class="footer bg-black-50" style="padding: 140px 20px;">
	<div class="container">
		<center>
			<h1 class="custom-font" style="font-size: 60px; color: #763b3;">Thank You</h1><br>
			<img src="{{ asset('img/VI.png') }}" width="80">
		</center>
	</div>
</footer>
<!-- Section Footer End -->

<!-- Section Footer Scripts -->
    </div>
    <!--
    Essential Scripts
    =====================================-->
    <!-- Main jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <!-- Bootstrap 4.3.1 -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- Slick Slider -->
    <script src="{{ asset('js/slick.min.js') }}"></script>
    <!--  Magnific Popup-->
    <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
    {# <script src="{{ asset('js/jquery.magnific-popup.min.js') }}assets/themes/6/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script> #}
    <!-- Form Validator -->
    {# <script src="../cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
	<script src="../cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script> #}
    <script src="{{ asset('js/jquery.form.js') }}"></script>
    <script src="{{ asset('js/jquery.validate.min.js') }}"></script>
	
    <script src="{{ asset('js/script.js') }}"></script>
    
    <script type="text/javascript">
		$('.carousel').carousel({
			interval: 2000
		});
	</script>

</body>
</html>